@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 18px;
}

:root {
  --medium-grey: hsl(0, 0%, 41%);
  --almost-white: hsl(0, 0%, 98%);
  --almost-black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--almost-white);
  font-family: "Epilogue", sans-serif;
  color: var(--medium-grey);
}

.container {
  padding: 30px 50px;
}